dropshadow()
  -webkit-svg-shadow: arguments

body
  padding: 20px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

  .timeline-toolbar
    background-color: white
    position: absolute
    top: 102px
    border-top: 1px solid grey
    border-right: 2px solid grey
    border-bottom: 2px solid grey
    border-bottom-right-radius: 3px
    border-top-right-radius: 3px
    .timeline-toolbar-button
      padding: 5px
      cursor: pointer
      &:hover
        background-color: rgb(6,128,196)
      &:active
        background-color: rgb(4,110,177)

  .fillOverlay
    fill: #eee

  .shadow
    stroke: white
    dropshadow black 0 0.5px 10px

  .overlay
    cursor: move
    fill: none
    pointer-events: all

  .main
    text
      font: 12px "Lucida Grande", Helvetica, Arial, sans-serif

    .laneLines
      stroke: white

    .todayLine
      stroke: #55f
      stroke-width: 1
      dropshadow #bbb 1px 0 4px

    .triangle
      fill: white
      dropshadow grey 0 1px 10px

    .axis
      stroke: grey
      stroke-width: 1
      text
        font: 10px "Lucida Grande", Helvetica, Arial, sans-serif

    .mainItem
      stroke: #bbb
      stroke-width: 0.5
      fill: #ddd
      cursor: pointer
      &.hover
        stroke: lightblue
        fill: lightblue
      text
        fill: black
        stroke: none
