@import 'toolbar'
@import 'add_event_popup'
@import 'tooltip'

dropshadow()
  -webkit-svg-shadow: arguments

.timeline-container
  position: relative
  font: 14px sans-serif
  width: 100%

  .fillOverlay
    fill: #eee

  .shadow
    stroke: white
    dropshadow black 0 0.5px 10px

  .overlay
    cursor: move
    fill: none
    pointer-events: all

  .main
    text
      font: 12px sans-serif

    .laneLines
      stroke: white

    .todayLine
      stroke: #55f
      stroke-width: 1
      dropshadow #bbb 1px 0 4px
      shape-rendering: crispEdges

    .triangle
      fill: white
      dropshadow grey 0 1px 10px
      shape-rendering: crispEdges

    .axis
      stroke: grey
      stroke-width: 1
      shape-rendering: crispEdges
      text
        font: 11px sans-serif
        stroke: none

    .mainItem
      rect
        stroke: #aaa
        stroke-width: 1
        stroke-linecap: round
        fill: #ddd
        cursor: pointer
        &:hover
          stroke: lightblue
          fill: lightblue
      path
        pointer-events: none
      text
        pointer-events: none
